@font-face {
    font-family: Open Sans;
    src: local(OpenSansBold), local(Open Sans Bold) url(opensansbold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Proxima Nova Thin;
    src: local(ProximaNovaThin), local(Proxima Nova Thin), url(proximanovat-thin.ttf);
}

@font-face {
    font-family: Proxima Nova Regular;
    src: local(ProximaNovaRegular), local(Proxima Nova Regular), url(proximanova-regular.ttf);
}

@font-face {
    font-family: Source Sans Light;
    src: local(SourceSansLight), local(Source Sans Light), url(SourceSansProLight.ttf);
}
